/* ---------------- Normalize  ---------------- */
.progress, sub, sup {
  vertical-align: baseline;
}

.block, .elem-left, .elem-right, article, aside, details, figcaption, figure, footer, header, hr, main, menu, nav, section, summary {
  display: block;
}

hr, sub, sup {
  position: relative;
}

body, figure {
  margin: 0;
}

button, hr, input, select {
  overflow: visible;
}

[type=checkbox], [type=radio], legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0 0 .67em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 60%;
  line-height: 0;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.45em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 0;
}

button, input, select, textarea {
  font: inherit;
  line-height: initial;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
  border: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring, input:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

a, ::before, ::after, img, figure, article, li, #fixed-tabs, #header, #banner, h1, h2, h3, h4, h5, h6, .btn, .btn-alt, .btn:before, .btn-alt:before, *, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

header {
  z-index: 99;
}

footer {
  z-index: 100;
}

/* ---------------- Animations  ---------------- */
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.flex-ed,
.col-flex-ed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
}

.col-flex-ed {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -ms-flex-flow: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.stars:before {
  content: '\e80f \e80f \e80f \e80f \e80f';
  font-family: fontello;
  color: #f7db70;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 3px;
}

/* ---------------- FIXED TABS  ---------------- */
@media (min-width: 1031px) {
  #fixed-tabs {
    display: none;
  }
}

@media (max-width: 1030px) {
  #fixed-tabs {
    position: fixed;
    right: 0;
    text-align: center;
    line-height: 1;
    font-size: 0;
    z-index: 10000;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #fixed-tabs a {
    padding: 13px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 13px;
    font-weight: 700;
    font-family: "Barlow", sans-serif;
    background-color: #448c29;
    color: #000;
    text-transform: uppercase;
  }
  #fixed-tabs a span {
    display: inline-block;
    vertical-align: middle;
  }
  #fixed-tabs a span:last-child {
    margin-left: 7px;
  }
  #fixed-tabs a:nth-of-type(2) {
    background-color: #9fb728;
  }
  #fixed-tabs a em {
    font-style: normal;
    margin-left: 5px;
  }
  #fixed-tabs i {
    font-size: 16px;
    margin-right: 5px;
  }
  #fixed-tabs i, #fixed-tabs i:before {
    display: inline-block;
    margin: 0 auto;
  }
  footer {
    margin-bottom: 42px !important;
  }
}

@media (max-width: 600px) {
  #fixed-tabs strong {
    display: none;
  }
  #fixed-tabs a span:last-child {
    margin-left: 0;
  }
}

/* ---------------- page foundation ---------- */
body {
  position: relative;
  background-color: #f4f4f4;
  font: 400 16px/1.2 "Barlow", sans-serif;
}

p {
  font: 400 19px/1.55 "Barlow", sans-serif;
  color: #272831;
  text-align: center;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #b8d335;
}

a:hover {
  color: #4da02f;
}

h1, h2, h3, .h3, .h2 {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.3;
  font-weight: 400;
}

h1, .h2 {
  margin: 0;
  color: #272831;
  font-size: 45px;
  letter-spacing: -1.03px;
}

h2 {
  color: #272831;
  font-size: 45px;
  margin: 10px auto;
  letter-spacing: -1.12px;
}

h3, .h3 {
  color: #272831;
  font-size: 28px;
  line-height: 1.2;
}

h4 {
  font-size: 28px;
  line-height: 1.41;
}

header {
  position: relative;
  background: #272831;
  text-align: center;
}

header .flex-ed {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 10px;
}

header .btn-alt {
  margin: 0;
}

header address a {
  display: block;
  text-align: right;
}

header .phone {
  color: #b8d335;
  font: 400 35px/1.2 "Nunito Sans", sans-serif;
  letter-spacing: -0.74px;
}

header .phone span {
  display: block;
  font: 400 18px/1 "Barlow", sans-serif;
  color: #fff;
}

header .phone:hover {
  color: #4da02f;
}

header .phy {
  color: #fff;
  font: 400 20px/1.2 "Barlow", sans-serif;
}

header .phy:hover {
  color: #b8d335;
}

header .logo {
  overflow: hidden;
}

.fix-nav header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  z-index: 300;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
}

.fix-nav header header .logo img {
  max-height: 80px;
}

/*  --------------  Buttons ----------------- */
.btn,
.btn-alt {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-style: normal !important;
  margin: 10px auto;
  color: #000;
  min-width: 160px;
  -webkit-box-shadow: 0 3px 13px rgba(7, 8, 8, 0.35);
          box-shadow: 0 3px 13px rgba(7, 8, 8, 0.35);
  border-radius: 3px;
  background-color: #b8d335;
  font: 400 12px/1.2 "Barlow", sans-serif;
  text-transform: uppercase;
  -webkit-transition: background ease 0.3s;
  transition: background ease 0.3s;
  padding: 12px 20px;
}

.btn span,
.btn-alt span {
  display: block;
  font-size: 30px;
  line-height: 1;
}

.btn:hover,
.btn-alt:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#b8d335), to(#53ab34));
  background-image: linear-gradient(to right, #b8d335 0%, #53ab34 100%);
  color: #fff;
}

/* -------------- Banner ----------------- */
#line {
  width: 100%;
}

.skew {
  background-color: #fff;
  display: block;
  min-height: 180px;
  -webkit-box-shadow: 2px 2px 24px rgba(24, 23, 24, 0.25);
          box-shadow: 2px 2px 24px rgba(24, 23, 24, 0.25);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  -webkit-transform: perspective(90px) rotateX(-5deg);
          transform: perspective(90px) rotateX(-5deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  position: relative;
}

.skew:before {
  content: '';
  position: absolute;
  left: -10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border: 1px solid #a2a2a2;
}

.skew .contain {
  -webkit-transform: perspective(90px) rotateX(5deg);
          transform: perspective(90px) rotateX(5deg);
}

#banner {
  overflow: hidden;
}

#banner .flex-ed {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 80px 10px 70px;
  max-width: 1350px;
  margin: auto;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#banner figure {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: relative;
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 550px;
          flex: 0 1 550px;
  margin-top: 20px;
}

#banner figure .skew {
  min-height: auto;
  margin: -35px 0 20px auto;
  background-color: #272831;
  background-image: none;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  display: table;
  padding: 10px 20px 20px;
  -webkit-transform: perspective(70px) rotateX(-15deg);
          transform: perspective(70px) rotateX(-15deg);
  color: #fff;
  letter-spacing: 1px;
}

#banner figure .skew .contain {
  -webkit-transform: perspective(70px) rotateX(15deg);
          transform: perspective(70px) rotateX(15deg);
}

#banner figure .skew:hover {
  background: -webkit-gradient(linear, left top, right top, from(#b8d335), to(#53ab34));
  background: linear-gradient(to right, #b8d335 0%, #53ab34 100%);
}

#banner article {
  position: relative;
  max-width: 100%;
  z-index: 10;
  padding: 10px;
  text-align: center;
}

#banner article p {
  font-family: "Barlow", sans-serif;
  font-size: 26px;
  letter-spacing: -0.6px;
  text-align: center;
  line-height: 1.3;
}

#banner h1 {
  margin: 20px auto;
  line-height: 1.1;
}

#banner h1 b {
  display: block;
  margin: 15px auto;
}

#banner .skew {
  background: -webkit-gradient(linear, left top, right top, from(#b8d335), to(#53ab34));
  background: linear-gradient(to right, #b8d335 0%, #53ab34 100%);
  min-height: auto;
  display: table;
  padding: 10px 20px 15px;
  margin: 40px auto 10px;
  border: 3px solid #fff;
}

#banner .skew:before {
  display: none;
}

#banner .skew .h3 {
  font-size: 34px;
  color: #272831;
}

#banner .skew p {
  color: #272831;
  font-size: 20px;
  margin: auto;
}

.safety {
  background-color: #f2c822;
  color: #272831;
  font: 700 21px/1.2 "Nunito Sans", sans-serif;
  text-align: center;
  padding: 10px;
}

#callouts .flex-ed {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1160px;
  padding: 50px 10px 50px;
  margin: auto;
}

#callouts a img, #callouts a span {
  display: inline;
}

#callouts a {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 320px;
          flex: 0 1 320px;
}

#callouts a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#callouts a:hover:before {
  border-color: #4da02f;
}

#callouts h3 {
  margin: 10px auto 20px;
}

#right {
  background-color: #fff;
  padding: 50px 10px;
  text-align-last: center;
}

#right .contain {
  max-width: 1100px;
  margin: auto;
}

#right p span {
  font-size: 26px;
}

#insurance {
  padding: 30px 10px 20px;
  margin: auto;
  text-align: center;
  background-color: #272831;
}

#insurance h2, #insurance p {
  color: #fff;
}

#insurance .contain {
  max-width: 1120px;
  margin: auto;
}

#insurance p {
  text-align: center;
  color: #fff;
}

#insurance .flex-row {
  max-width: 1000px;
  margin: 30px auto;
}

#insurance .flex-row span {
  margin: 12px 8px;
}

.disclaim {
  color: #9d9d9d;
  font-size: 14px;
}

.split {
  padding: 60px 10px;
  clear: both;
  display: table;
  width: 100%;
}

.split .flex-ed {
  max-width: 1180px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.split article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 530px;
          flex: 0 1 530px;
  padding: 10px;
}

.split p {
  text-align: justify;
}

.split.alt {
  background-color: #fff;
}

.split.alt figure {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.split .btn {
  min-width: 260px;
  text-align: center;
}

#dentists .skew {
  color: #272831;
  font: 700 18px/1 "Nunito Sans", sans-serif;
  min-height: auto;
  padding: 10px;
  margin-top: -35px;
  margin-left: auto;
  background-color: #fff;
  display: table;
  padding: 20px;
}

#dentists .skew:before {
  display: none;
}

footer {
  padding: 70px 10px 0;
  position: relative;
  text-align: center;
  background-color: #272831;
  overflow: hidden;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1250px;
  margin: auto;
  padding: 10px 0;
}

footer article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 340px;
          flex: 0 0 340px;
  max-width: 300px;
  padding: 20px 10px 40px;
}

footer article:nth-of-type(2) {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

footer .skew {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: perspective(160px) rotateX(-5deg);
          transform: perspective(160px) rotateX(-5deg);
}

footer .skew .contain {
  -webkit-transform: perspective(160px) rotateX(5deg);
          transform: perspective(160px) rotateX(5deg);
}

footer figure {
  text-align: justify;
  text-align-last: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  margin: 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px 30px;
}

footer .phone {
  color: #4da02f;
  font: 700 30px/1 "Nunito Sans", sans-serif;
  display: block;
  margin: 10px auto;
  display: block;
}

footer .phone:hover {
  color: #272831;
}

footer .phy {
  color: #272831;
  font-size: 16px;
  margin: 0 auto 25px;
  display: block;
}

footer .phy:hover {
  color: #4da02f;
}

footer p {
  max-width: 80%;
  margin: 10px auto;
  letter-spacing: -0.4px;
  font-size: 16px;
  text-align: justify;
}

.hours {
  font-size: 13px;
  text-align: left;
  display: table;
}

.hours label {
  display: inline-block;
  width: 90px;
}

.title {
  color: #272831;
  font-family: "Nunito Sans", sans-serif;
  margin: 0 auto 20px;
  font-size: 28px;
  font-weight: 400;
  line-height: -.7px;
}

/* ---------------- Simple Form ---------------- */
.simple input, .simple textarea {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  border: 0;
  line-height: 1;
  padding: 0 15px;
  margin-bottom: 7px;
  width: 225px;
  height: 40px;
  -webkit-box-shadow: inset 2px 2px 0 #4da02f;
          box-shadow: inset 2px 2px 0 #4da02f;
  background-color: #f3f3f3;
  color: #272831;
  font: 400 13px/40px "Barlow", sans-serif;
}

.simple input:focus, .simple textarea:focus {
  -webkit-box-shadow: inset 0 3px 0 #b8d335;
          box-shadow: inset 0 3px 0 #b8d335;
  outline: 0;
}

.simple textarea {
  height: 80px !important;
}

.simple .btn {
  width: 225px;
  padding: 10px 10px;
  font-size: 16px;
  min-width: 160px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button:focus {
  outline: none;
  outline-style: ridge;
  outline-width: thin;
  outline-color: #b8d335;
}

::-webkit-input-placeholder {
  color: #272831;
}

:-ms-input-placeholder {
  color: #272831;
}

::-ms-input-placeholder {
  color: #272831;
}

::placeholder {
  color: #272831;
}

.copy {
  margin-top: 20px;
  padding: 40px 0 30px;
  font: 400 13px/1.6 "Barlow", sans-serif;
  color: #fff;
  background-color: #15151a;
}

.copy a, .copy p {
  margin: auto;
  color: #fff;
}

.copy a:hover {
  color: #b8d335;
}

/* ---------------- New Patient Form ---------------- */
#lp-appointment-form {
  max-width: 800px;
  text-align: center;
  padding: 10px;
  margin: 40px auto 20px;
}

#lp-appointment-form h1 {
  font-size: 50px;
  margin: 10px auto 30px;
  text-shadow: none;
}

#lp-appointment-form p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
}

#lp-appointment-form .simple {
  margin: 40px auto 20px;
  max-width: 500px;
  padding-right: 3px;
}

#lp-appointment-form label {
  display: none;
}

#lp-appointment-form input, #lp-appointment-form textarea {
  width: 97%;
  display: table;
  margin: 10px auto;
  background-color: #d3d3d3;
  color: #272831;
  border-radius: 5px;
  font-size: 16px;
}

#lp-appointment-form input:focus, #lp-appointment-form textarea:focus-within {
  background-color: #fff;
}

#lp-appointment-form textarea {
  min-height: 140px;
  margin-bottom: 30px;
}

#lp-appointment-form .btn {
  font-weight: 700;
  font-size: 20px;
}

#lp-appointment-form ::-webkit-input-placeholder {
  color: #333;
}

#lp-appointment-form :-ms-input-placeholder {
  color: #333;
}

#lp-appointment-form ::-ms-input-placeholder {
  color: #333;
}

#lp-appointment-form ::placeholder {
  color: #333;
}

/* ---------------- Media Queries ---------------- */
@media (max-width: 1080px) {
  header .phone {
    font-size: 25px;
  }
  header .phy {
    font-size: 16px;
  }
  #banner figure, .split.alt figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 480px;
            flex: 0 1 480px;
  }
  #banner h1 {
    font-size: 40px;
  }
  .safety {
    font-size: 19px;
  }
  #callouts a {
    margin: 20px auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 280px;
            flex: 0 1 280px;
  }
  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 780px;
  }
  footer article:nth-of-type(2) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  footer article {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 500px;
            flex: 0 1 500px;
    margin: 20px auto;
    padding-bottom: 40px;
    padding-top: 30px;
  }
  footer figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 700px;
            flex: 0 1 700px;
    margin: 0 auto 50px;
  }
  .copy {
    padding: 30px 0;
  }
}

@media (max-width: 1000px) {
  header .phone {
    padding: 0 15px;
    font-size: 20px;
  }
  header .btn-alt {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .phy {
    display: none;
  }
  #banner .flex-ed {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 40px 10px 20px;
  }
  #banner article {
    margin: auto;
  }
  #banner figure {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    max-width: 600px;
    margin: 20px auto 0;
  }
  .safety span:last-of-type {
    display: block;
    font-size: 0;
  }
  #right {
    padding: 20px 10px 40px;
  }
  h2, p {
    text-align: center;
  }
  .split {
    padding: 30px 10px;
  }
  .split .flex-ed {
    display: block;
    text-align: center;
  }
  .split p {
    text-align: center;
  }
  #dentists figure {
    display: table;
    margin: 10px auto;
  }
  .title {
    margin: 0 auto 10px;
  }
  footer {
    padding: 40px 0 0;
  }
  footer figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 550px;
            flex: 0 1 550px;
  }
  footer article {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 340px;
            flex: 0 1 340px;
  }
  footer .phone {
    margin: 10px auto;
  }
}

@media (max-width: 740px) {
  header .phone {
    display: none;
  }
  #banner h1, h1 {
    font-size: 36px;
    line-height: 1;
  }
  h1 br {
    display: none;
  }
  h2 {
    font-size: 30px;
  }
  footer .container {
    display: table;
  }
  footer figure {
    max-width: 400px;
  }
  footer article {
    margin: 50px auto;
  }
  footer .simple.skew {
    margin-bottom: 0;
  }
  #lp-appointment-form h1 {
    font-size: 36px;
  }
}

@media (max-width: 590px) {
  header .flex-ed {
    display: block;
    margin: auto;
  }
  header .btn-alt {
    display: table;
    margin: 10px auto 5px;
  }
  #callouts .flex-ed {
    padding: 10px 20px;
    display: table;
    width: 100%;
    max-width: 360px;
  }
  #callouts a {
    max-width: 90%;
  }
  footer article:nth-of-type(1) {
    margin: 10px auto 40px;
  }
  .copy span:last-of-type {
    display: block;
    font-size: 0;
  }
}

@media (max-width: 490px) {
  #banner .flex-ed {
    padding-top: 10px;
  }
  #banner article {
    padding: 0;
  }
  #banner article .skew {
    max-width: 95%;
  }
  #banner article p {
    font-size: 20px;
  }
  #dentists figure {
    display: table;
    margin: auto;
  }
  #dentists h3 {
    margin: auto;
  }
  footer .container {
    padding: 40px 20px 20px;
  }
  footer figure {
    padding-top: 0;
    padding-bottom: 50px;
    margin: 40px auto 20px;
  }
  footer .phone {
    font-size: 30px;
  }
  #lp-appointment-form h1 {
    font-size: 30px;
  }
}

@media (max-width: 390px) {
  #banner h1, h1 {
    font-size: 32px;
  }
  footer form {
    max-width: 90%;
    margin: auto;
  }
  footer .phy {
    font-size: 14px;
  }
}
/*# sourceMappingURL=new-patient-styles2.css.map */